.galeria{
    display: flex;
    justify-content: center;
     align-items: center;
}

.galeria img{
    width: 300px;
    height: 180px;
    object-fit: contain;
}

.carrusel img{
    object-fit: contain;
}


.texto{
    flex: 1; /* mismo espacio */
    padding: 20px;
}

.galeria table{
    width: 100%;
    table-layout: fixed;
}

.galeria td{
    width: 25%;
    vertical-align: middle;
}
